<?xml version="1.0"?>
<robot name="d435_color" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Realsense Macro (for Geoemtry, TF and Meshes) -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <!-- Gazebo-Plugins -->
    <xacro:include filename="$(find arena_robots)/components/plugins/camera/depth_camera_plugin.urdf.xacro" />
    <xacro:include filename="$(find arena_robots)/components/plugins/camera/irred_camera_plugin.urdf.xacro" />
    <xacro:include filename="$(find arena_robots)/components/plugins/camera/camera_plugin.urdf.xacro" />

    <xacro:macro name="d435_color"
        params="frame_prefix
                parent
                *origin
                gazebo_classic:=false
                gazebo_ignition:=false
                node_name:=realsense_d435
                node_namespace:=${None}
                topic_prefix:=~/">
        
        <xacro:sensor_d435 parent="${parent}" name="${frame_prefix}" use_nominal_extrinsics="true">
            <xacro:insert_block name="origin" />
        </xacro:sensor_d435>

        <xacro:camera_plugin
            node_namespace="${node_namespace}"
            node_name="${node_name}_color"
            topic_prefix="${topic_prefix}_color"
            gazebo_classic="${gazebo_classic}"
            gazebo_ignition="${gazebo_ignition}"
            optical_frame="${frame_prefix}color_optical_frame"
            reference_frame="${frame_prefix}color_frame"
            horizontal_fov="69.4"
            vertical_fov="39"
            video_width="1920"
            video_height="1080"
            min_depth="0.1"
            max_depth="100"
            rate="30"
        >
        </xacro:camera_plugin>

    </xacro:macro>
</robot>
        

    