<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import rbtheron macro -->
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/bases/rbtheron/rbtheron_base.xacro"/>

	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/base_hw/rbtheron.ros2_control.urdf" />
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/rbtheron.gazebo" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/all_sensors.urdf.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<!-- Second we define all the parameters and arguments to customize the robot characteristics -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="namespace" default="robot"/>
	<xacro:arg name="prefix" default="robot_"/>
	<xacro:arg name="gazebo_classic" default="false"/>
	<xacro:arg name="gazebo_ignition" default="true"/>
	<xacro:arg name="gazebo_controllers" default=""/>
	<xacro:arg name="sim_path" default=""/>

	<!-- Here we create the robot using the xacro:macro imported at the beggining of this file -->

	<xacro:rbtheron prefix="$(arg prefix)" hq="${hq}"/>

	<!-- SENSORS: migrated to the component catalog (assembly.yaml, Stage M); attached
	     by the per-robot wrapper xacro (catalog.render_wrapper_xacro), not here. -->

	<!-- Controllers -->
	<xacro:if value="$(arg gazebo_classic)">
		<xacro:rbtheron_gz_classic_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
        <xacro:ros_planar_move_gazebo_classic/>
	</xacro:if>
	<xacro:rbtheron_base_hw_controller/>

    <gazebo>
        <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_model_pose>true</publish_model_pose>
        <publish_link_pose>false</publish_link_pose>
        <publish_collision_pose>false</publish_collision_pose>
        <publish_visual_pose>false</publish_visual_pose>
        <publish_sensor_pose>false</publish_sensor_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <use_pose_vector_msg>false</use_pose_vector_msg>
        </plugin>
    </gazebo>
</robot>
