<?xml version="1.0"?>
<robot name="rbtheron" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="rbtheron_base_hw_controller">
    <ros2_control name="rbtheron_system" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="robot_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="robot_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>
