<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find arena_robots)/urdf/gz_rgbd_camera.xacro"/>
  <xacro:macro name="a1_depth_camera" params="name prefix:='' *origin">
    <joint name="${prefix}camera_joint_${name}" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${prefix}trunk"/>
      <child link="${prefix}camera_${name}"/>
    </joint>

    <link name="${prefix}camera_${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.03 0.02"/>
        </geometry>
        <material name="black"/>
      </visual>
      <inertial>
        <mass value="1e-5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      </inertial>
    </link>

    <joint name="${prefix}camera_optical_joint_${name}" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${prefix}camera_${name}"/>
      <child link="${prefix}camera_optical_${name}"/>
    </joint>

    <link name="${prefix}camera_optical_${name}"/>

    <xacro:gz_rgbd_camera frame="${prefix}camera_${name}" sensor_name="${prefix}camera_${name}"
                          fov="2.094" width="640" height="480" near="0.05" far="8.0"
                          update_rate="15"/>
  </xacro:macro>
</robot>
