<?xml version="1.0"?>
<robot name="rbkairos" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <!-- Import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

  <xacro:include filename="$(find arena_robots)/robots/rbkairos/urdf/bases/rbkairos/rbkairos_base.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/rbkairos/urdf/base_hw/rbkairos.ros2_control.urdf" />
  <xacro:include filename="$(find arena_robots)/robots/rbkairos/urdf/rbkairos.gazebo" />
  <xacro:include filename="$(find arena_robots)/robots/rbkairos/urdf/all_sensors.urdf.xacro" />

  <!-- Properties and Arguments -->

  <xacro:arg name="namespace" default="robot"/>
  <xacro:arg name="prefix" default="robot_"/>
  <xacro:arg name="gazebo_classic" default="false"/>
  <xacro:arg name="gazebo_ignition" default="true"/>
  <xacro:arg name="gazebo_controllers" default=""/>
  <xacro:arg name="sim_path" default=""/>

  <xacro:rbkairos prefix="$(arg prefix)" gazebo_classic="$(arg gazebo_classic)" gazebo_ignition="$(arg gazebo_ignition)"/>

  <!-- Controllers -->
  <xacro:if value="$(arg gazebo_classic)">
    <xacro:rbkairos_gz_classic_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
    <xacro:ros_planar_move_gazebo_classic/>
  </xacro:if>
  <xacro:unless value="$(arg gazebo_classic)">
    <xacro:rbkairos_base_hw_controller/>
  </xacro:unless>

</robot>
