<?xml version="1.0"?>
<!-- RBVogui v3.0 -->
<robot name="rbvogui" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/bases/rbvogui/rbvogui_base.urdf.xacro" />

    <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/base_hw/rbvogui.ros2_control.urdf" />
    <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/rbvogui.gazebo" />

    <!-- Import all available sensors -->
    <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/all_sensors.urdf.xacro" />

    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />

    <!-- Launch Arguments -->
	<xacro:arg name="namespace" default="robot"/>
	<xacro:arg name="prefix" default="robot_"/>
	<xacro:arg name="sim_path" default=""/>
	<xacro:arg name="gazebo_controllers" default=""/>
	<xacro:arg name="gazebo_classic" default="false"/>
	<xacro:arg name="gazebo_ignition" default="true"/>
	<xacro:arg name="generate_ros2_control_tag" default="true"/>

    <xacro:rbvogui prefix="$(arg prefix)" hq="${hq}"/>

    <!-- SENSORS: migrated to the component catalog (assembly.yaml, Stage M); attached
         by the per-robot wrapper xacro (catalog.render_wrapper_xacro), not here. -->

    <!-- ros2_control block (gz_ros2_control/GazeboSimSystem) and PosePublisher loaded via rbvogui.gazebo -->
    <xacro:if value="$(arg generate_ros2_control_tag)">
        <xacro:rbvogui_base_hw_controller/>
    </xacro:if>

</robot>