<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:macro name="d435_depth" params="name parent_link frame topic *origin">
    <link name="${frame}" />
    <joint name="${frame}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${frame}" />
    </joint>

    <xacro:sensor_d435 parent="${frame}" name="${name}" use_nominal_extrinsics="true">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:sensor_d435>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="depth_camera">
        <gz_frame_id>$(arg sim_path)/${name}_link</gz_frame_id>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <topic>${topic}/depth_image</topic>
        <camera>
          <camera_info_topic>${topic}/camera_info</camera_info_topic>
          <horizontal_fov>1.5184351666666667</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R_FLOAT32</format>
          </image>
          <clip>
            <near>0.105</near>
            <far>8.0</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
