<?xml version="1.0"?>
<robot name="rbrobout" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/bases/rbrobout/rbrobout_base.urdf.xacro" />

  <xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/base_hw/rbrobout.ros2_control.urdf" />
  <xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/rbrobout.gazebo" />

  <xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/all_sensors.urdf.xacro" />

  <!-- Properties and Arguments -->

  <xacro:arg name="namespace" default="robot"/>
  <xacro:arg name="prefix" default="robot_"/>
  <xacro:arg name="sim_path" default=""/>
  <xacro:arg name="gazebo_classic" default="false"/>
  <xacro:arg name="gazebo_ignition" default="true"/>
  <xacro:arg name="gazebo_controllers" default=""/>

  <xacro:rbrobout prefix="$(arg prefix)" gazebo_ignition="$(arg gazebo_ignition)"/>

  <!-- ros2_control hardware block (always active; gz plugin loaded via rbrobout.gazebo) -->
  <xacro:rbrobout_base_hw_controller/>

</robot>
