<?xml version="1.0"?>
<robot name="mpo700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="sim_path" default=""/>
  <xacro:arg name="gazebo_controllers" default=""/>

  <xacro:property name="ODM_joint_type" value="continuous"/>

  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/xacros/mpo_700_body.urdf.xacro"/>
  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/mpo700.ros2_control.urdf"/>
  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/mpo700.gazebo"/>

  <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/utils/inertia.urdf.xacro"/>
  <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/2d_lidar/sick_s300.urdf.xacro"/>

  <xacro:mpo_700_body/>

  <xacro:sensor_sick_s300
    frame_prefix="front_laser_"
    parent="base_footprint"
    node_namespace="$(arg namespace)"
    node_name="front_laser"
    gazebo_classic="false"
    gazebo_ignition="true">
    <origin xyz="0.338 0.288 0.223" rpy="3.14 0 0.79"/>
  </xacro:sensor_sick_s300>

  <xacro:sensor_sick_s300
    frame_prefix="rear_laser_"
    parent="base_footprint"
    node_namespace="$(arg namespace)"
    node_name="rear_laser"
    gazebo_classic="false"
    gazebo_ignition="true">
    <origin xyz="-0.338 -0.288 0.223" rpy="3.14 0 3.93"/>
  </xacro:sensor_sick_s300>

  <xacro:mpo700_base_hw_controller/>

</robot>
