<?xml version="1.0"?>
<robot name="mpo700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="sim_path" default=""/>
  <xacro:arg name="gazebo_controllers" default=""/>
  <xacro:arg name="gazebo_classic" default="false"/>
  <xacro:arg name="gazebo_ignition" default="true"/>

  <xacro:property name="ODM_joint_type" value="continuous"/>

  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/xacros/mpo_700_body.urdf.xacro"/>
  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/mpo700.ros2_control.urdf"/>
  <xacro:include filename="$(find arena_robots)/robots/mpo700/urdf/mpo700.gazebo"/>

  <xacro:include filename="$(find arena_robots)/robots/rbvogui/urdf/utils/inertia.urdf.xacro"/>

  <xacro:mpo_700_body/>

  <xacro:mpo700_base_hw_controller/>

</robot>
